<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>ASHER</title>
		<meta name="description" content="ASHER">
		<link rel="icon" href="../uibuilder/images/node-blue.ico">

		<!-- Your own CSS -->
		<link type="text/css" rel="stylesheet" href="./index.css" media="all">

		<!-- #region Supporting Scripts. These MUST be in the right order. Note no leading / - socket.io no longer needed  -->
		<!-- <script defer src="https://cdn.jsdelivr.net/npm/vue@latest/dist/vue.global.prod.js">/* Remove .prod for development version */</script> -->
		<!-- <script defer src="../../uibuilder/vendor/vue/dist/vue.global.prod.js">/* Remove .prod for development version */</script> -->
		<script defer src="./utils/vue.global.prod.js">/* Remove .prod for development version */</script>

		<script defer src="../../uibuilder/uibuilder.iife.min.js"></script>
		
		
		<!-- https://cdn.jsdelivr.net/npm/vuetify@3.5.15/dist/vuetify.min.js -->
		<script defer src="./utils/vuetify.min.js"></script>
		<!-- https://cdn.jsdelivr.net/npm/vuetify@3.5.15/dist/vuetify.min.css -->
		<link type="text/css" rel="stylesheet" href="./css/vuetify.min.css" media="all">

		<script defer src="./components/input.js">/* OPTIONAL: Put your custom code in that */</script>
		<script defer src="./components/color-picker.js">/* OPTIONAL: Put your custom code in that */</script>
		<script defer src="./components/date-picker.js">/* OPTIONAL: Put your custom code in that */</script>
		<script defer src="./components/range-slider.js">/* OPTIONAL: Put your custom code in that */</script>
		<script defer src="./components/button.js">/* OPTIONAL: Put your custom code in that */</script>
		<script defer src="./index.js">/* OPTIONAL: Put your custom code in that */</script>
		<!-- #endregion -->
	</head>
	<body class="uib">
		<div id="app">
			<div class="page-title">ASHER Dashboard</div>
			<div class="page-content">
				<div class="menu-section">
					<div class="menu">Home</div>
					<div class="menu">Unit Overview</div>
				</div>
				<div class="content-section">
					<div class="main-content">
						<div id="more"><!-- '#more' is used as a parent for dynamic content in examples --></div>
						<div class="border" v-show="displayBtnByInjection">
							<v-text-field
								v-model="text_input"
								label="Text Input"
								@change="handleTextInputChange"
							></v-text-field>
							<v-color-picker
								hide-canvas
								v-model="color"
								@change="handleColorChange"
							></v-color-picker>
							<!-- <v-date-picker v-model="selectedDate" @input="handleDateChange"></v-date-picker> -->
							<v-slider label="Range (0-100):" v-model="selectedRange" :min="0" :max="100"></v-slider>
							<v-btn 
								@click="submitEvent(text_input, color, selectedRange)" 
								title="Not sent back to Node-RED - this just shows that VueJS is working"
							>
								Send to Node-Red
							</v-btn>
							<!-- <app-input></app-input>
							<app-color-picker></app-color-picker>
							<app-date-picker></app-date-picker>
							<app-range-slider></app-range-slider>
							<app-btn></app-btn> -->
						</div>
					
						<div class="border">
							<p>
									Not sent back to Node-RED - this just shows that VueJS is working
							</p>
							<p>
								<v-btn @click="count++" title="Not sent back to Node-RED - this just shows that VueJS is working">
									Counter: {{ count }}
								</v-btn>
							</p>
						</div>
						<div class="border">
							<p>
								This is sent back to Node-RED.
							</p>
							<p>
								<v-btn @click="doEvent(count)" data-mything="This is a thing" title="This is sent back to Node-RED">
									Click to send msg to Node-RED
								</v-btn>
							</p>
							<p class="text-smaller">
								Note that including an event button in a form will automatically send all
								of the form inputs back to Node-RED as well.
							</p>
						</div>
						<!-- <p>
								<label for="input1">This is sent to Node-RED when you exit it: </label>
								<input v-model="input1" @change="doEvent" id="input1" type="text" placeholder="Type text then exit field">
						</p> -->
						<v-data-table :items="items"></v-data-table>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
