/* Load defaults from `<userDir>/node_modules/node-red-contrib-uibuilder/front-end/uib-brand.min.css`
 * This version auto-adjusts for light/dark browser settings but might not be as complete.
 */
@import url("../uibuilder/uib-brand.min.css");

/* OR, load the defaults from the older `<userDir>/node_modules/node-red-contrib-uibuilder/front-end/uib-styles.css` */
/* @import url("../uibuilder/uib-styles.css"); */

.uib {
	margin: 0;
}
#app {
	width: 100%;
	height: 100vh;
}
.page-title {
	background-color: #4894EC;
	padding-left: 1rem;
	padding-top: 0.8rem;
	color: white;
	height: 3rem;
}
.page-content {
	display: flex;
	width: 100%;
	height: calc(100% - 3rem);
}
.menu-section {
	width: 20%;
	height: 100%;
	background-color: #424242;
}
.menu {
	padding: 1rem 1rem 0 1rem;
	color: white;
}
.content-section {
	width: 80%;
	height: 100%;
	background-color: #303030;
	overflow-y: auto;
}
.main-content {
	width: 80%;
	margin: 2rem auto 2rem auto;
}
.border {
	margin-bottom: 1rem;
	color: white;
}
#more {
	color: white;
}
#more form {
	margin: 0;
}
table th, td {
	background: black !important;
	color: white !important;
}
.v-input {
	display: block !important;
	margin-top: 1rem;
}